p{
  text-align: center; /*align all p tags to the middle*/
  transition-delay: 17000ms;
  color: red;  /*set p tag color to red*/
  transform: translate(-25px,15px); /*move to the left -25px and down 15px (x,y)*/
  animation-name: example;
  animation-duration: 4s;  

}

.hw{
  text-align: center;
  border: blue;
  border-style: solid;
  border-width: 2px;
  width: 50px;
  height: 75px;
  transform-orgin: 1000px;
  transition-duration: 7000ms;
}

#dwt{
  width: 100px;
  height: 100px;
  background: red;
  transition: width 2s, height 2s, transfrom 2s;
  animation-name: dw;
  animation-duration: 4s;  
}

#dwt:hover {
  width: 300px;
  height: 300px;
  transform: rotate(180deg);
}

@keyframes example {
  from {background-color: red;
        transform: translate(0px,0px)
    }
  to {background-color: yellow;
      transform: translate(-25px,15px)
    }
}

@keyframes dw {
  from {width: 100px;
  height: 100px;
  background: red;
    }
  to {width: 100px;
  height: 100px;
  background: red;
  transition: width 2s, height 2s, transfrom 2s;
  transform: rotate(180deg);
    }
}