p{
  text-align: center; /*align all p tags to the middle*/
  color: red;  /*set p tag color to red*/
  transform: translate(-25px,15px); /*move to the left -25px and down 15px (x,y)*/
  transition-duration: 17000ms;
  transform: scale3d(10,15,2)

}

.hw{
  text-align: center;
  border: blue;
  border-style: solid;
  border-width: 2px;
  width: 50px;
  height: 75px;
  transform-orgin: 1000px;
  transition-duration: 7000ms;
}

#dwt{
  width: 100px;
  height: 100px;
  background: red;
  transition: width 2s, height 2s, transfrom 2s; 
}

#dwt:hover {
  width: 300px;
  height: 300px;
  transform: rotate(180deg);
}