.header{
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: rgb(0, 1, 2);
  color: rgb(247, 247, 247);
}
body{
  background-color: rgb(110, 77, 16);
  color: rgb(238, 0, 218);
}

.topnav a{
  float: left;
  display: block;
  color: rgb(250, 250, 250);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover{
  background-color: rgb(175, 172, 152);
  color: black;
}

.column {
  float: left;
  width: 30%;
  padding: 10px;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}

#change{
  background-color: rgb(14, 13, 13);
  color: white;

}


@media screen and (max-width: 600px;)