<style>
      p {
      color: blue;
      }

      h3 {
        color: purple;
      }

      h1 {
        font-family: "Brush Script MT", cursive;
        font-size: 3em;
      }

      h2{
        color: blue;
      }

    </style>